.header-title {
  text-align: center;
}

.map{
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.navbar{
  display: flex;
  background-color: beige;
  padding: 7px;
  justify-content: left;
}

.navbar-item {
  text-decoration: none;
  padding: 10px;
  position: relative;
  color: grey;
  border-right: 1px solid darkgrey;
  padding-right: 20px;
}

.is-active{
  color: black;
}